<!DOCTYPE html>
<html  lang="en"   dir="ltr">
    <style>
        footer {
          background-color: #f2f2f2;
          padding: 20px;
          text-align: center;
        }
        </style>
        
<html>
    <head>
        <meta charset="utf-8">
        <title>Logout page</title>
    </head>
    <body>
        {% extends "template.html" %}
        {% block content%}
    
        <p>You are logged out.</p>
        <!a href="/login">Login</a>

    <footer>
        &copy; Sherif python Website
    </footer>
    {% endblock %}
    </body>
</html>
